<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>
<!-- Header with nav -->
<header th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/products}">Products</a></li>
        </ul>

        <div sec:authorize="isAnonymous()">
            <a class="btn btn-secondary" th:href="@{/login}">Sign In</a>
            <a class="btn btn-primary" th:href="@{/register}">Sign Up</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-secondary" th:href="@{/cart}">Cart</a>

            <a class="btn btn-secondary" th:href="@{/profile}">Profile</a>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-danger">Log Out</button>
            </form>
        </div>
    </nav>
</header>
</body>
</html>