.admin-pageContent {
    display: flex;
    gap: 40px;
}

@media (max-width: 1000px) {
    .admin-pageContent {
        flex-direction: column;
    }
}

.admin-productsSection {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.admin-addProductSection {
    max-width: 450px;
    width: 100%;
    margin: 20px 0 40px 20px;
}

.admin-addProductSection h2 {
    margin-bottom: 24px;
    font-size: 32px;
}