.admin-pageContent {
    display: flex;
    gap: 40px;
}

@media (max-width: 1000px) {
    .admin-pageContent {
        flex-direction: column;
    }
}

.admin-productsSection {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.admin-addProductSection {
    max-width: 450px;
    margin: 20px 20px 40px;
}

@media (min-width: 1000px) {
    .admin-addProductSection {
        width: 100%;
    }
}

.admin-addProductSection h2 {
    margin-bottom: 24px;
    font-size: 32px;
}