header {
    grid-area: header;
    border-bottom: 1px solid #e5e7eb;
    background: white;
}

nav {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

nav ul {
    flex: 1;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav ul li a {
    font-size: 0.875rem;
    text-decoration: none;
    color: #111827;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #6b7280;
}


/* Auth buttons */
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    transition: background 0.2s;
}

.btn-signin {
    margin-left: auto;
    margin-right: 0.75rem;
    color: #111827;
    background: #f9fafb;
}

.btn-signin:hover {
    background: #f3f4f6;
}

.btn-signup {
    color: white;
    background: #3b82f6;
}

.btn-signup:hover {
    background: #2563eb;
}