*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
            "header"
            "main"
            "footer";
    grid-template-rows: auto 1fr auto;
}

.main {
    grid-area: main;
}

button {
    outline: none;
    border: none;
}