<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Webshop - Admin</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>
<body>
<div layout:fragment="content">

    <div class="admin-pageContent">
        <section class="admin-addProductSection">
            <h2>Create Product</h2>

            <form method="post" th:action="@{/admin/products}" th:object="${product}">
                <div class="form-field">
                    <label>Name*</label>
                    <input type="text" th:field="*{name}" required>
                </div>
                <div class="form-field">
                    <label>Category*</label>
                    <input type="text" th:field="*{category}" required>
                </div>
                <div class="form-field">
                    <label>Price*</label>
                    <input type="number" th:field="*{price}" required>
                </div>
                <div class="form-field">
                    <label>Image URL*</label>
                    <input type="text" th:field="*{imageUrl}" required>
                </div>

                <button class="btn btn-primary" type="submit">Create Product</button>
            </form>
        </section>

        <section class="products-grid">
            <p th:if="${#lists.isEmpty(products)}">No items found.</p>
            <th:block th:if="${products != null and !#lists.isEmpty(products)}">
                <div th:each="item : ${products}" class="product-card">
                    <img th:src="${item.imageUrl}" alt="Product picture">
                    <div class="product-info">
                        <span class="product-category" th:text="${item.category}">Category</span>
                        <h3 class="product-name" th:text="${item.name}">Product name</h3>
                        <div class="product-footer">
            <span class="product-price"
                  th:text="'$ ' + ${item.price}">
                0 $
            </span>
                        </div>
                    </div>
                </div>
            </th:block>
        </section>
    </div>
</div>
</body>
</html>