<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Webshop - Admin</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div layout:fragment="content">

    <div class="admin-pageContent">
        <section class="admin-addProductSection">
            <h2>Create Product</h2>

            <form method="post" th:action="@{/admin/products}" th:object="${product}">
                <div class="form-field">
                    <label>Name*</label>
                    <input type="text" th:field="*{name}" required>
                </div>
                <div class="form-field">
                    <label>Category*</label>
                    <input type="text" th:field="*{category}" required>
                </div>
                <div class="form-field">
                    <label>Price*</label>
                    <input type="number" th:field="*{price}" required>
                </div>
                <div class="form-field">
                    <label>Image URL*</label>
                    <input type="text" th:field="*{imageUrl}" required>
                </div>

                <button class="btn btn-primary" type="submit">Create Product</button>
            </form>
        </section>

        <section class="admin-productsSection">
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
            <div>
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <h2>Product name</h2>
                    <p><strong>Category:</strong> <span>Category</span></p>
                    <p><strong>Price:</strong> <span>19.99</span> $</p>
                    <img th:src="${product.imageUrl}" alt="Product picture">
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>