<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="hero-banner">
        <h1>Welcome to our Webshop!</h1>
        <p>Discover our wide range of products and enjoy shopping with us.</p>
    </div>

    <div th:unless="${hasResponded}">
        <div th:replace="fragments/cookiebanner :: cookiebanner"></div>
    </div>
</div>
</body>
</html>