<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webshop - Login</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<main class="auth-page">
    <section class="form-section">
        <h2>Sign in</h2>
        <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
        <p th:if="${message != null}" th:text="${message}" style="color:green;"></p>
        <form method="post" th:action="@{/login-request}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-field">
                <label for="email-field">Email</label>
                <input id="email-field" type="email" name="username" required>
            </div>

            <div class="form-field">
                <label for="password-field">Password</label>
                <input id="password-field" type="password" name="password" required>
            </div>

            <button class="btn btn-primary btn-full" type="submit">Sign in</button>
        </form>
        <a th:href="@{/register}">Don't have an account? Sign up!</a>
    </section>
</main>

</body>
</html>