<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Webshop - All Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>
<body>
<div layout:fragment="content">
    <h2>Products</h2>

    <div class="products-grid">
        <p th:if="${#lists.isEmpty(products)}">No items found.</p>
        <th:block th:if="${products != null and !#lists.isEmpty(products)}">
            <div th:each="product : ${products}" class="product-card">
                <img th:src="${product.imageUrl}" alt="Product picture">
                <div class="product-info">
                    <span class="product-category" th:text="${product.category}">Category</span>
                    <h3 class="product-name" th:text="${product.name}">Product name</h3>
                    <div class="product-footer">
                        <span class="product-price" th:text="'$ ' + ${product.price}"></span>
                    </div>
                    <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
                        <button class="btn btn-primary btn-full" type="submit">Add to cart</button>
                    </form>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>