<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrera</title>
</head>
<body>
<h1>Registrera användare</h1>

<form action="/register" method="post">

    <label>Email:</label>
    <input type="text" name="username" required>
    <br><br>
    <label>Lösenord:</label>
    <input type="password" name="password" required>
    <br><br>
    <label>
        <input type="checkbox" name="consent">
        Jag godkänner integritetspolicyn
    </label>
    <br><br>

    <button type="submit">Registrera</button>
</form>
</body>
</html>